{% extends 'base.html.twig' %}
{% block body %}
    <!-- inclusion du fichier css dans ma page twig -->
    <style>{% include 'css/admin.css' %}</style>
    <div class="row no-gutter" id="sign-up">
        <!-- The image half -->
        <div class="col-md-6 d-none d-md-flex " id="inscription-image"> </div>
        <!-- The content half -->
        <div class="col-md-6 bg-light">
            <div class="login d-flex align-items-center p-2">

                <!-- second half content-->

                <div class="container">
                    <div class="row">
                        <div class="col-lg-10 col-xl-7 mx-auto">
                            <h3 class="display-5"><p id="titre-signup">Espace Inscription pour les étudiants!</p></h3>

                                <form name="registration_form" method="post">
                                      {%  for error in errors %}
                                          <div class="alert alert-danger" id="erruer" style="color:red; font-size:18px;"> {{ error }} </div>
                                          <script >
                                              temp=document.getElementById('erruer');
                                              setTimeout('temp.style.display="none"',5000);
                                          </script>
                                    {% endfor %}

                                    <p>
                                    <h4>
                                        <div><label for="registration_form_username" class="required" id="username">Username</label>
                                          {{ form_widget(registrationForm.username) }}
                                        </div>
                                    </h4>
                                    </p>
                                    <p>
                                    <h4>
                                        <div><label for="registration_form_cin" class="required" id="cin">Cin</label>
                                            {{ form_widget(registrationForm.cin) }}
                                            <p id="cond" > only 1 account allowed for every cin </p>
                                        </div>
                                    </h4>
                                    </p>
                                    <p>
                                    <h4>
                                        <div>
                                            <label for="registration_form_classe" class="required" id="classe"> Classe</label>
                                            <div id="classe_widget"> {{ form_widget(registrationForm.classe) }} </div>
                                        </div>
                                    </h4>
                                    </p>

                                    <p id=password_widget">
                                    <h4>
                                        <div><label for="registration_form_plainPassword" class="required"
                                                    id="password">Password</label>
                                            {{ form_widget(registrationForm.password) }}
                                             <p id="cond" > password must be atleast 6 characters </p>
                                        </div>
                                    </h4>
                                    </p>

                                    <input type="hidden" id="registration_form__token" name="registration_form[_token]" value="yluiEEqlNRmJpymY0vM6sXjBVDIgfXUfUmlQhJd0CUo" />
                                        <div id="password_widget"> {{ form_rest(registrationForm) }} </div>
                                        <div id="redirect_login"> <h6 style="color:green">tu es déja inscris?<a href="{{ path('app_login') }}">connexion &#x2192;</a></h6></div>


                                <button type="submit" class="btn btn-primary btn-block text-uppercase mb-2 rounded-pill shadow-sm"> inscription </button>
                            </form>
                                <div class="text-center d-flex justify-content-between mt-4"><p>Snippet by <a href="https://bootstrapious.com/snippets" class="font-italic text-muted">
                                            <u>Boostrapious</u></a></p>
                                </div>
                        </div>
                    </div>
                </div><!-- End -->

            </div>
        </div><!-- End -->

    </div>



{% endblock %}
{% block title %} inscription {% endblock %}