{% block body %}
<!--stylesheets-->
    <style>{% include 'css/panel.css' %} </style>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.css">
    <link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
<!-- end stylesheets--> 

   <div class="header">
    <a href="#" id="menu-action"> </a>
    <div class="logo">
        Teacher Panel
    </div>
    </div>
<div class="sidebar">
    <ul>
        <li><a href="{{path('app_login')}}"><i class="fa fa-desktop"></i><span>Panel</span></a></li>
        <li><a href="{{path('calendrier')}}"><i class="fa fa-calendar"></i><span>Calendar</span></a></li>
        <li><a href="{{path('app_logout')}}"><i class="fas fa-sign-out-alt"></i><span>Logout</span></a></li>
    </ul>
</div>

<!-- Content -->
<div class="main">
    <div class="hipsum">
        <div class="jumbotron">
            <h1 id="hello-mr-mme">Hello, Mr/Mme {{ app.user.username }} </h1>
        </div>
        <p><b>Bienvenue Mr/Mme ,vous trouvez dans cette section la liste de vos matières + ses analyses.</b></p>

        {% for mat in matiers %}

        <table class="table table-bordered">
            <tr>
                <th> matier</th>
                <th> Analyse</th>
         </tr>
            <tr>
                <td>{{ mat.name }}</td>
                <td> <a href="{{ path('view',{'id':mat.id}) }}">View</a></td>
            </tr>
        </table>
        {% endfor %}

    </div>
</div>
    <script>
        $('#menu-action').click(function() {
            $('.sidebar').toggleClass('active');
            $('.main').toggleClass('active');
            $(this).toggleClass('active');

            if ($('.sidebar').hasClass('active')) {
                $(this).find('i').addClass('fa-close');
                $(this).find('i').removeClass('fa-bars');
            } else {
                $(this).find('i').addClass('fa-bars');
                $(this).find('i').removeClass('fa-close');
            }
        });

        // Add hover feedback on menu
        $('#menu-action').hover(function() {
            $('.sidebar').toggleClass('hovered');
        });
    </script>
   
{% endblock %}