{% extends 'base.html.twig' %}

{% block head %}


<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="keywords" content="evaluation,education,isima,enquetes">
<meta name="description" content="application web  pour mener des enquêtes  a de retour un  analyse pour les avis  des étudiants sur les qualités des cours et le système d'éducation">
<!-- StyleSheet service box bootstrap  -->
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

{% endblock %}

{% block body %}

<!-- inclusion du fichier css dans ma page twig -->
<style>{% include 'css/style.css' %}</style>
    <!-- welcome -->

    <div  class="containerWelcome" id="welcome">
        <h1>Evaluation.edu</h1>
        <h2>Make our Education life better ...</h2>
        <a href="{{path('apropos.index')}}" class="myButton">About Us</a>
    </div>
    <!-- end welcome -->
    <!-- container etudiant - enseignant -->
<div class="container">
    <div class="row">
        <div class="contenant" id="row1">
            <img src="https://1.bp.blogspot.com/-fM5PVJxTd8A/YNYon3M5fmI/AAAAAAAACIc/CrVsHQo1UrM-u2c-DXBPwJsyv-7IGmR6ACLcBGAsYHQ/s0/student%2Bcontainer.jpg" width="370px" height="300px" alt="studentcontainer">
            <div class="texte_centrer">
                <h3 class="title"> étudiants</h3>
                <p class="description">Veiller visiter la<a href="{{ path('app_register') }}" > <b><u>page des enquêtes</u></b> </a>pour évaluer vos cours et l'environnement d'éducation générale dans votre établissement.</p>

                <a href="{{path('app_login')}}"  id="bouton_surveys"><i class="fa fa-arrow-right"></i></a>
            </div>
        </div>
        <div class="contenant" id="row2">
            <img src="https://1.bp.blogspot.com/-fM5PVJxTd8A/YNYon3M5fmI/AAAAAAAACIc/CrVsHQo1UrM-u2c-DXBPwJsyv-7IGmR6ACLcBGAsYHQ/s0/student%2Bcontainer.jpg" width="370px" height="300px" alt="teachercontainer">
            <div class="texte_centrer" id="text-teacher">
                <h3 class="title">enseignants</h3>
                <p class="description">Vous pouvez visiter l'<a href="{{ path('app_login') }}"><b><u>espace des enseignants et chefs de départements</u></b>
                    </a>pour étudier les bilan statistique concernants vos cours dans l'établissement.</p>

                <a href="{{path('app_login')}}"  id="bouton_surveys"><i class="fa fa-arrow-right"></i></a>
            </div>
        </div>
        <!--End container etudiant - enseignant -->

     </div>
</div>

<!-- footer -->
    <div class="footer">
<a href="http://www.isima.rnu.tn/">
  <img class="imagefooter" align ="left" src="https://1.bp.blogspot.com/--JPC2uQ14tQ/YLj0JmX5i9I/AAAAAAAAB0Y/lee4dKrW7jEyp2eW8osg8sDhRStNExgugCLcBGAsYHQ/s0/isima-logo_150x70.jpg"  >
</a>
© By yosri ben salem ,e: Dr.Mounir Salhi,Carthage Solutions.
    </div>
{% endblock %}
{% block title %} Evaluation.edu {% endblock %}




