{% extends 'base.html.twig' %}
{% block head %}
<!-- import font awesome v4 icons -->
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
{% endblock %}
{% block body %}
<!-- inclusion du fichier css dans ma page twig -->
<style>{% include 'css/qcm.css' %}</style>
<style>

        .rating {
                display: block;
                direction: rtl;
                unicode-bidi: bidi-override;
                text-align: center;
        }
        .rating .star {
                display: none;
        }
        .rating label {
                color: #ffffff;
                display: inline-block;
                font-size: 22pt;
                margin: 0 -2px;
                transition: transform .15s ease;
        }
        .rating label:hover {
                transform: scale(1.35, 1.35);
        }
        .rating label:hover,
        .rating label:hover ~ label {
                color: orange;
        }
        .rating .star:checked ~ label {
                color: orange;
        }
</style>

<!-- source des questions : 
https://www.reptic.qc.ca/wp-content/uploads/2014/05/2014-05_STFO_questionnaire-evaluation-formative.pdf -->
<div class="qcm-body">
        matière: {{ matiere.name }}
<form method="post" id="form" action="{{ path('save_qcm',{'id': id , 'stu': stu}) }}">
    {% for key, val in qcms %}
            
        <h2 id="sujet"> {{key}} </h2>
            {% for qcm in val %}
        <h5 style="font-size:16px" id="titre"> {{ qcm.question.titre }} :</h5>

                    <div class="rating">
                            <input id="radio1{{ qcm.question.id }}" type="checkbox" name="{{ qcm.question.id }}qes[]" {% if qcm.note == 5 %} checked="checked" {% endif %} value="5" class="star" />
                            <label for="radio1{{ qcm.question.id }}">&#9733;</label>
                            <input id="radio2{{ qcm.question.id }}" type="checkbox" name="{{ qcm.question.id }}qes[]" {% if qcm.note == 4 %} checked="checked" {% endif %}  value="4" class="star" />
                            <label for="radio2{{ qcm.question.id }}">&#9733;</label>
                            <input id="radio3{{ qcm.question.id }}" type="checkbox" name="{{ qcm.question.id }}qes[]" {% if qcm.note == 3 %} checked="checked" {% endif %}  value="3" class="star" />
                            <label for="radio3{{ qcm.question.id }}">&#9733;</label>
                            <input id="radio4{{ qcm.question.id }}" type="checkbox" name="{{ qcm.question.id }}qes[]" {% if qcm.note == 2 %} checked="checked" {% endif %}  value="2" class="star" />
                            <label for="radio4{{ qcm.question.id }}">&#9733;</label>
                            <input id="radio5{{ qcm.question.id }}" type="checkbox" name="{{ qcm.question.id }}qes[]" {% if qcm.note == 1 %} checked="checked" {% endif %}  value="1" class="star" />
                            <label for="radio5{{ qcm.question.id }}">&#9733;</label>
                    </div>
                    <br>

            {% endfor %}
            {% endfor %}
        <!-- desactiver bouton enregistrer des réponses -->
        {% for val in qcms %}
                {% for qcm in val %}
                        {% if qcm.note != "" %}
                                {%set i = i+1 %}
                        {% endif %}
                {% endfor %}
        {% endfor %}

        <input type="submit" class="myButton" {% if i == 24 %} disabled {% endif %} value="Enregistrer"> </input>

        <!-- desactiver bouton enregistrer des réponses -->
</form>
</div>

<script>
        $('.star').on('change', function() {
                let stars = $(this).val();
                /* Make an AJAX call to register the rating */
                console.log(stars);
        });
</script>
{% endblock %}
{% block title %} questionnaire {% endblock %}


