{% extends 'base.html.twig' %}
{% block body %}
<!-- inclusion du fichier css dans ma page twig -->
<style>{% include 'css/qcmlist.css' %}</style>

<div class="containerEnq">
    <h4>BienVenue {{ studient.username }}</h4>
    <h5>Liste de matières pour la Classe : {{ classe.name }}</h5>
</div>
<table class="table">
 <thead class="thead-light">
    <tr>
      <th scope="col">Matière</th>
      <th scope="col">QCM</th> 
    </tr>
    </thead>
{% for key,val in matieres %}
<tbody>
<tr>
<td id="semestre"> Semestre {{ key }} </td> <td id="semestre"> <a href="" value="qcm"></a></td>
</tr>
    {% for matiere in val %}
<tr>
<td> {{ matiere.name }} </td> <td> <a href="{{ path('qcm',{'id': matiere.id, 'idstudent': studient.id}) }}" value="qcm"> QCM </a></td>
</tr>
{% endfor %}

</tbody>
{% endfor %}
</table>

{% endblock %}
{% block title %} List QCM {% endblock %}