{% extends 'base.html.twig' %}
{% block body %}
<!-- inclusion du fichier css dans ma page twig -->
<style>{% include 'css/qcmlist.css' %}</style>
<div id="exit">
    <a href="{{ path('app_logout') }}" id="exit-text">

    <img src="https://1.bp.blogspot.com/-FBSLE4k4wEA/YOiJybRPb6I/AAAAAAAACM8/UsRzXHirAtgb954Cti1KHxdkVjSvJeAxwCLcBGAsYHQ/s0/exit.png"
         width="60px" height="60px"> exit
    </a>

</div>
<div class="containerEnq">
    <h4>BienVenue {{ studient.username }}</h4>
    <h5>Liste de matières pour la Classe : {{ classe.name }}</h5>
</div>
<table class="table">
 <thead class="thead-light">
    <tr>
      <th scope="col">Matière</th>
      <th scope="col">QCM</th> 
    </tr>
    </thead>
{% for key,val in matieres %}
<tbody>
<tr>
<td id="semestre"> Semestre {{ key }} </td> <td id="semestre"> <a href="" value="qcm"></a></td>
</tr>
    {% for matiere in val %}
<tr>
<td id="matiere-font"> {{ matiere.name }} </td> <td id="qcm-link"> <a href="{{ path('qcm',{'id': matiere.id, 'idstudent': studient.id}) }}" value="qcm"> QCM </a></td>
</tr>
{% endfor %}

</tbody>
{% endfor %}
</table>

{% endblock %}
{% block title %} List QCM {% endblock %}