{% extends 'base.html.twig' %}
{% block head %}
<!-- import font awesome v4 icons -->
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">


{% endblock %}
{% block body %}
<!-- inclusion du fichier css dans ma page twig -->
<style>{% include 'css/qcm.css' %}</style>
<style>

        .rating {
                display: block;
                direction: rtl;
                unicode-bidi: bidi-override;
                text-align: center;
        }
        .rating .star {
                display: none;
        }
        .rating label {
                color: lightgray;
                display: inline-block;
                font-size: 22pt;
                margin: 0 -2px;
                transition: transform .15s ease;
        }
        .rating label:hover {
                transform: scale(1.35, 1.35);
        }
        .rating label:hover,
        .rating label:hover ~ label {
                color: orange;
        }
        .rating .star:checked ~ label {
                color: orange;
        }
        .progress{
                border:2px solid #121169;
                margin-left:15%;
                margin-right:15%;
        }
        #info{
                font-size:17px;
        }
        #exit{
                margin-left:91%;
        }
        #exit-text{
                font-size:23px;
                color:blue;
        }
</style>
        <div id="exit">
                <a href="{{ path('app_logout') }}" id="exit-text">

                        <img src="https://1.bp.blogspot.com/-FBSLE4k4wEA/YOiJybRPb6I/AAAAAAAACM8/UsRzXHirAtgb954Cti1KHxdkVjSvJeAxwCLcBGAsYHQ/s0/exit.png"
                             width="54px" height="54px"> exit
                </a>
        </div>
<!-- source des questions : 
https://www.reptic.qc.ca/wp-content/uploads/2014/05/2014-05_STFO_questionnaire-evaluation-formative.pdf -->
        <div class="qcm-body" onload="window.print()">
                <i id="info"> Matière: {{ matiere.name }} </i> <br>
                <i id="info"> Groupe:  {{ classe.name }} </i> <br>
                <i id="info"> Période: {{ periode.semestre }}</i>
                <form method="post" action="">
                        {% for key, val in questions %}
                                {#                                        {% for nb in nombre_reponses %}#}
                                <h2 id="sujet"> {{ key }} </h2>
                                {% for qcm in val %}
                                        <h4 style="font-size:16px" id="titre">  {{ qcm.titre }} : </h4>
                                        {% for k,v in result %}
                                                {% if k == qcm.id %}
                                                        <div class="rating">
                                                                <label style="color:black;"> taux de satisfaction </label>
                                                                <div class="progress">

                                                                        <div class="progress-bar" role="progressbar"
                                                                             style="width: {{ 100-v*20 }}%; text-align:left;background-color:rgba(18,17,105,0.6);color:rgb(255,153,9);font-family: 'Arial Black'"
                                                                             aria-valuenow="{{ v*20 }}"
                                                                             aria-valuemin="0"
                                                                                {#round () un seul entier aprés le virgule#}
                                                                             aria-valuemax="100">{{ v*20 }}%
                                                                        </div>
                                                                </div>
                                                                <p style="color:black;" for="{{ qcm.id }}"> nombre des étudiants inscris dans le système
                                                                        : {{ nombre_reponses/24 }}</p>

                                                        </div>
                                                {% endif %}
                                        {% endfor %}
                                {% endfor %}
                        {% endfor %}
<input type="button" class="myButton" value="imprimer" onclick="window.print();" />
</form>
</div>
<script>
        $('.star').on('change', function() {
                let stars = $(this).val();
                /* Make an AJAX call to register the rating */
                console.log(stars);
        });
</script>

{% endblock %}
{% block title %} questionnaire {% endblock %}


