<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">

    <title>{% block title %}Evaluation.edu{% endblock %}</title>

    <!-- deployment of bootstrap 4.1 -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.css">
    <link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <!-- end deployment -->
    {% block stylesheets %}
        {#{{ encore_entry_link_tags('app') }}#}
        <style>
            {# style de navbar#}
            #nav {
                margin-left: 28%;
            }
            #logo {
                background-color:#383c44;
            }
        </style>
    {% endblock %}

    {% block javascripts %}
        {#{{ encore_entry_script_tags('app') }}#}

    {% endblock %}


    {% block head %} {% endblock %}
</head>
<body>

    {# les différents élements de navbar #}

    <nav class="navbar navbar-expand-lg navbar-light bg-primary">

    <a class="navbar-brand" href="{{ path('home') }} "><img id="logo"
                                                                src="https://1.bp.blogspot.com/-mOh2OdbaJMU/YOtwLHqasCI/AAAAAAAACNw/IuWx9KC4VJ8uYUoMPRyvBEN7v5STpqEoQCLcBGAsYHQ/s0/logo%2Bbleu.jpg"
                                                                height="45px" width="85px"></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                        <a class="nav-link" href="{{ path('home') }}">Home <span class="sr-only">(current)</span></a>
                    </li>

                <li class="nav-item active">
                    <a class="nav-link" href="{{ path('app_login') }}">Login <span class="sr-only">(current)</span></a>
                </li>

                <li class="nav-item active">
                    <a class="nav-link" href="{{ path('app_register') }}">Inscription <span class="sr-only">(current)</span></a>
                </li>

                <li class="nav-item active">
                    <a class="nav-link" href="{{ path('apropos.index') }}">A propos <span class="sr-only">(current)</span></a>
                </li>


                </ul>

            </div>
        </nav>
        <!--/.Navbar blue-->
        <!--Navbar -->
{#        <div class="collapse navbar-collapse" id="navbarSupportedContent">#}
{#            <ul class="navbar-nav mr-auto">#}
{#                <li class="nav-item ">#}
{#                    <a class="nav-link" href="{{ path('home') }}">Home </a>#}
{#                </li>#}
{#                <div class="collapse navbar-collapse" id="navbarSupportedContent">#}
{#                    <ul class="navbar-nav mr-auto">#}
{#                        <li class="nav-item ">#}
{#                            <a class="nav-link" href="{{ path('app_register') }}">Espace Etudiant </a>#}
{#                        </li>#}
{#                        <div class="collapse navbar-collapse" id="navbarSupportedContent">#}
{#                            <ul class="navbar-nav mr-auto">#}
{#                                <li class="nav-item ">#}
{#                                    <a class="nav-link" href="{{ path('app_login') }}">Espace Enseignant</a>#}
{#                                </li>#}

{#                                <div class="collapse navbar-collapse" id="navbarSupportedContent">#}
{#                                    <ul class="navbar-nav mr-auto">#}
{#                                        <li class="nav-item ">#}
{#                                            <a class="nav-link" href="{{ path('apropos.index') }}">A propos </a>#}
{#                                        </li>#}
{#                                    </ul>#}
                                </div>
                                <!--
                                <form class="form-inline my-2 my-lg-0">
                                  <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
                                  <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
                                </form>
                                 </div> -->

</nav>

{% block body %}
{% endblock %}

</body>
</html>
